<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Users list</title>
</head>
<body>
<header>
    <!--    Header-->
    <div class="container-fluid">
        <div class="row align-items-center bg-dark" style="height: 50px">
            <div class="col text-nowrap text-light">
                <b th:utext="${user.username}">...</b>
                with roles:
                <b th:utext="${user.rolesToString()}">...</b>
            </div>
            <div class="col text-right">
                <a href="/logout" class="text-secondary">Logout</a>
            </div>
        </div>
    </div>
</header>
<section class="a">
    <div class="container-fluid bg-light">
        <div class="row">
            <!--            Sidebar-->
            <div class="col sidebar pt-3 bg-white" style="height:100vh">
                <div class="list-group">
                    <div sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin}" class="list-group-item list-group-item-action">Admin</a></div>
                    <a th:href="@{/user}" class="list-group-item list-group-item-action active">User</a>
                </div>
            </div>
            <!--            User info-->
            <div class="col-10 bg-light pt-3" style="height:100vh">
                <div class="container-fluid active">
                    <h2>User's info</h2>
                    <div class="row border bg-white pl-0">
                        <div class="col border bg-light">
                            <p><h6>About user</h6>
                        </div>
                        <table class="table table-hover">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Surname</th>
                                <th scope="col">Age</th>
                                <th scope="col">Username</th>
                                <th scope="col">Roles</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:utext="${user.id}">...</td>
                                <td th:utext="${user.name}">...</td>
                                <td th:utext="${user.surname}">...</td>
                                <td th:utext="${user.age}">...</td>
                                <td th:utext="${user.username}">...</td>
                                <td th:utext="${user.rolesToString()}">...</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br/>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>